## Introduction to Python 3.8
- **introdcutor: Nguyễn Duong Hùng**

In [ ]:
# Kiem tra thu vien
import sklearn
sklearn.__file__

In [ ]:
# Go va thu hien chuong trinh dau tien
print("Xin chao mung den voi Python Programming")

-**Một chương trình mẫu**

In [ ]:
# -*- coding: utf-8 -*-  # Sử dụng utf-8

"""
Created on Sun Aug 16 21:13:31 2020

@author: hungnd
"""
from __future__ import print_function # Chi thi các hàm trong tuong lai

def aver(n):
    sum=0
    for i in range(n):
        x=int(input("Enter the number:"))
        sum = sum + x
    return sum/n

def main():
    n=int(input("Enter the total number you want to enter:"))
    print("Average=",aver(n))

if __name__ == '__main__':
    main()

- **Chương trình mâu thứ 2: nhập dữ liệu từ bàn phím***

In [ ]:
"""
This is a pure python implementation of the selection sort algorithm

For doctests run following command:
python -m doctest -v selection_sort.py
or
python3 -m doctest -v selection_sort.py

For manual testing run:
python selection_sort.py
"""
 #-*- coding: utf-8 -*-  # Sử dụng utf-8
from __future__ import print_function


def selection_sort(collection):
    """Pure implementation of the selection sort algorithm in Python
    :param collection: some mutable ordered collection with heterogeneous
    comparable items inside
    :return: the same collection ordered by ascending


    Examples:
    >>> selection_sort([0, 5, 3, 2, 2])
    [0, 2, 2, 3, 5]

    >>> selection_sort([])
    []

    >>> selection_sort([-2, -5, -45])
    [-45, -5, -2]
    """

    length = len(collection)
    for i in range(length - 1):
        least = i
        for k in range(i + 1, length):
            if collection[k] < collection[least]:
                least = k
        collection[least], collection[i] = (
            collection[i], collection[least]
        )
    return collection


if __name__ == '__main__':
    try:
        raw_input          # Python 2
    except NameError:
        raw_input = input  # Python 3

    user_input = raw_input('Enter numbers separated by a comma:\n').strip()
    unsorted = [int(item) for item in user_input.split(',')]
    print(selection_sort(unsorted))

- ** Mô hình hồi qui **

In [ ]:
 #-*- coding: utf-8 -*-  # Sử dụng utf-8
from __future__ import division, print_function, unicode_literals
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
import time

def get_param_Linear_Regression(X, y):
    '''
    Parameter:
        X: numpy array with X.shapre = (n, 1) and n is size of data
        y: numpy array with y.shapre = (n, 1) and n is size of data
    Output:
        return [w_0, w_1] with line y = w_0 + w_1*x is fitting line of linear regression method for data (X, y)
    '''

    # Building Xbar
    one = np.ones((X.shape[0], 1))
    Xbar = np.concatenate((one, X), axis=1)
    regr = linear_model.LinearRegression(
        fit_intercept=False)        # fit_intercept = False for calculating the bias
    regr.fit(Xbar, y)
    return regr.coef_[0]


def draw_LR_fitting_line(X, y, w_0, w_1):
    '''
    Parameter:
        X: numpy array with X.shapre = (n, 1) and n is size of data
        y: numpy array with y.shapre = (n, 1) and n is size of data
        [w_0, w_1] is linear regression result of data (X, y)
    Output:
        Drawing the fitting line
    '''

    # Drawing the fitting line
    x0 = np.linspace(145, 185, 2)
    y0 = w_0 + w_1*x0

    plt.plot(X.T, y.T, 'ro')        # data
    plt.plot(x0, y0)                # the fitting line
    plt.axis([140, 190, 45, 75])
    plt.xlabel('Height (cm)')
    plt.ylabel('Weight (kg)')
    plt.show()


def main():
    start = time.time()
    # height (cm)
    X = np.array(
        [[147, 150, 153, 158, 163, 165, 168, 170, 173, 175, 178, 180, 183]]).T
    # weight (kg)
    y = np.array([[49, 50, 51,  54, 58, 59, 60, 62, 63, 64, 66, 67, 68]]).T

    w_0, w_1 = get_param_Linear_Regression(X, y)
    print("Fitting Line: y = {0:.2f} + {1:.2f}*x".format(w_0, w_1))

    print("Running time: {0:.3f} s".format(time.time()-start))

    # Drawing result
    draw_LR_fitting_line(X, y, w_0, w_1)


if __name__ == "__main__":
    main()

- **Các phép toán cơ bản**

In [ ]:
print(2+3*4) #14
print((2+3)*4) #20
print(2**10) #1024
print(6/3) #2.0
print(7/3) #2.33333333333
print(7//3) #2
print(7%3) #1
print(3/6) #0.5
print(3//6) #0
print(3%6) #3
print(2**100) # 1267650600228229401496703205376

- **Whlie lood**

In [ ]:
i = 10 
arr = []
while i > 0:
    arr.append(i)
    print(i)
    i = i - 1
print(arr)

- **Whlie lood**

In [ ]:
n = 10 
arr = []
for i in range(1,n):
    arr.append(i)
    print(i)
    i = i - 1
print(arr)

### Cấu trúc điểu khiển trong Python

In [ ]:
diem = float(input("Nhap diẻm tong ket:"))
if diem >=8.5: print('A')
elif diem >= 7.5 and diem < 8.5: print("B")    
else: print("C")

In [ ]:
n = 1
arr = []
while n <= 100:
    if n % 2 == 0: arr.append(n)
    n = n + 1
print(arr)

In [ ]:
a = arr
for i in arr:
    if i % 15 == 0:
     print(i)

# Functions
- **Basic Function If -sele**

In [1]:
def listsum(numList):
    if len(numList) == 1:
        return numList[0]
    else:
        return numList[0] + listsum(numList[1:])
def main():
    print(listsum([1,3,5,7,9,11]))
    #Chi dinh ham main() lam viec
if __name__ == '__main__':
    main()

36

In [14]:
def nhap():
    try:
        raw_input          # Python 2
    except NameError:
        raw_input = input  # Python 3

    user_input = raw_input('Enter numbers separated by a comma:\n').strip()
    numList = [int(item) for item in user_input.split(',')]
  #  print(selection_sort(unsorted))
    return numList

def listsum(numList):
    if len(numList) == 1:
        return numList[0]
    else:
        return numList[0] + listsum(numList[1:])

def main():
    numList = nhap()
    print("Tong cua day:", listsum(numList))
  #  print(listsum([1,3,5,7,9,11]))
    #Chi dinh ham main() lam viec
if __name__ == '__main__':
    main()

Enter numbers separated by a comma:
 1,2,3,4,5,6,7

Tong cua day: 28

In [ ]:
def fibo(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fibo(n-1) + fibo(n-2)
def testfi(n):
    for i in range(n+1):
        print('fibonaci  of', i, '=',fibo(i))
def main():
    a = int(input('Nhap so can tinh:'))
    testfi(a)
#Chi dinh ham main lam viec
if __name__ == '__main__':
    main()

- **Function and while - for**

In [ ]:
def count_to_n(n):
    for i in range(1, n + 1):
        print('*', end=' ')
print()
i = 1
while i <= 10:
    count_to_n(i)
    i = i + 1
    print()

- **Function and while - for**

In [ ]:
def count_to_n(n):
    for i in range(1, n + 1):
        print('*', end=' ')
print()
for i in range(1, 10):
    count_to_n(i)
    print()

# lamba Function

In [ ]:
x = lambda a : a + 10
print(x(10))

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

# Json

In [ ]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

# Arrays

In [ ]:
import array as arr
arr = []
n  = int(input("Nhap so phan tu :"))
for i in range(0,n):
    t =int(input("Nhap so phan tu :"))
    arr.append(int(t))
for i in range(0,n):    
    print(arr[i])

### In thông tin function

In [ ]:
print (abs.__doc__)
print (int.__doc__)
print (input.__doc__)
# Code by Quantrimang.com
def square(num):
#Trả lại giá trị bình phương của số được nhập vào.
#Số nhập vào phải là số nguyên.

    return num ** 2
print (square.__doc__)

In [ ]:
def count_to_n(n):
    for i in range(1, n + 1):
        print('*', end=' ')
print()
def main():
    a = int(input('nhap so can tinh:'))
    print("Hinh tam giac sao:")
    i = 1
    while i <= a:
        count_to_n(i)
        i = i + 1
        print()
if __name__ == '__main__':
    main()

### Nhập dãy n phần tử và sắp xếp tăng

In [ ]:
data = []
n = 0
def Nhap(nums):
    n = int(input('Enter how many elements you want: '))   
    for i in range(0, n):
        x = input('Enter the numbers into the array: ')
        data.append(int(x))
    
def in_day(data):
    print(data)
    
def sort(data):
    data.sort()    
def main():
    Nhap(n)
    in_day(data)
    sort(data)
    in_day(data)
if __name__ == '__main__':
    main()

# This is heading

Abc

# Heading

**This is abc

***Bac

--Striking

# Heading 2

### Heading 3

## Heading 2

In [ ]:
print("Hello")

In [ ]:
25*(1/2)

In [ ]:
25**(1/2)

In [ ]:
25**(1/2)

In [ ]:
city="Hanoi"

In [ ]:
city

In [ ]:
type(city)

In [ ]:
str(10)

In [ ]:
float(10)

In [ ]:
x = 10,20,25

In [ ]:
print(x)

In [ ]:
x

In [ ]:
y = (10,'abc')

In [ ]:
y

In [ ]:
type(y)

In [ ]:
#!/usr/bin/python

list1 = ['Toán', 'Tin', 1997, 2000,'Ngoại ngữ']
list2 = [1, 2, 3, 4, 5, 6, 7 ]
list0 = list1 + list2

In [ ]:
#list1
list0

In [ ]:
list1[1]

In [ ]:
list1[0]

In [ ]:
y[0]

In [ ]:
y[1]

In [ ]:
print ("list1[0]: ", list1[0])

In [ ]:
list = ['Tin', 'Toán', 1997, 2000];
print ("Value available at index 2 : ");
print (list[2]);
list[2] = 2019;
print ("New value available at index 2 : ");
print (list[2]);

In [ ]:
print(list);
list[:3]

In [ ]:
list[1:2]

In [ ]:
list[0::2]

In [ ]:
list[1:3]

In [ ]:
list[1:]

In [ ]:
list[2:]

In [ ]:
list[:3]

In [ ]:
list[:1]

In [ ]:
id(list)

In [ ]:
id(list[1])

In [ ]:
list[1:4:2]

In [ ]:
thisdict = {
  "apple": "green",
  "banana": "yellow",
  "cherry": "red"
}
print(thisdict)

In [ ]:
thisdict = dict(apple="green", banana="yellow", cherry="red")
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

In [ ]:
thisdict = dict(apple="green", banana="yellow", cherry="red")
del(thisdict["banana"])
print(thisdict)

In [ ]:
thisdict["apple"]

In [ ]:
a = 33
b = 33
if b > a:
 print("b is greater than a")
elif a == b:
 print("a and b are equal")

In [ ]:
def AddNum(x,y):
    result = x + y
    return(result)

In [ ]:
AddNum(10,12)

In [ ]:
def AddNum1(*args):
  # *args 
  print(args)

In [ ]:
AddNum1([8,9,10])

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

In [ ]:
s

In [ ]:
a = 33
b = 33
if b > a:
 print("b is greater than a")
elif a == b:
 print("a and b are equal")

In [ ]:
import numpy as np

In [ ]:
s.loc["d"]

In [ ]:
s1 = pd.Series(np.random.randn(5), name='something')

In [ ]:
s1

In [ ]:
s1.loc[1]

In [ ]:
s1.loc[(s1>0.5)]

In [ ]:
s1.loc[(s1>0.5) & (s1 <0.9)]

In [ ]:
# How to list all Attributes
dir(s1)

In [ ]:
dir(list)

In [ ]:
dir(list)

In [ ]:
# pandas.core.frame.DataFrame
# Khi doc du lieu tu File, vi du File CSV hoac cac dang DB duoi day, du lieu ca file se duoc dua vao Data Frame
# csv / Text
# Excel file
# DBMS
# SAS

In [ ]:
a = np.array([1.0, 2.0, 3.0])

In [ ]:
np.array([2.0, 2.0, 2.0])

In [ ]:
a * b

In [ ]:
import pandas as pd
table1 = pd.read_csv("D:\Datasets\Big Data\Credit_test.csv",sep=",")

In [ ]:
table1

In [ ]:
table2 = pd.read_csv("D:\Datasets\Big Data\Credit_test.csv",sep=",")

In [ ]:
table2

In [ ]:
table3 = pd.read_csv("D:\Datasets\Big Data\Credit_test.csv",sep=",")

In [ ]:
table3

In [ ]:
table3.columns

In [ ]:
table3.shape # (num of rows, num of columns)

In [ ]:
nrows = table3.shape[0]
ncolumns = table3.shape[1]

In [ ]:
print(nrows)

In [ ]:
dir(table3)

In [ ]:
table3.info()
# Non - null

In [ ]:
table3.describe()

In [ ]:
# 1. Fetching / Select Columns
# Using Operater .
table3.BUSAGE #Select 1 columns

In [ ]:
# Select Multi Columns
table3[["BUSAGE"]]   # Output the Data Frame
table3[["BUSAGE","MAXLINEUTIL"]]

In [ ]:
# 1.3 User of Loc and iLoc
# table3.loc[,]
# [row index/names, column index/names]
table3.loc[:,["BUSAGE","MAXLINEUTIL"]]  # : meaning all "ROWS"

In [ ]:
# Select 1st 10 rows from the table, columns with names "BUSAGE","MAXLINEUTIL"
table3.loc[0:9,["BUSAGE","MAXLINEUTIL"]]  # Loc get all 0:9 Index

In [ ]:
table3.info()

In [ ]:
DoB = "15Dec1970"
# 15 - Day
# Dec - Month
# Year

In [ ]:
pd.to_datetime(DoB, format = "%d%b%Y")

In [ ]:
DoB = ["21Mar1990","13Dec1993","17Jan1989","15Jul1970"]

In [ ]:
pd.to_datetime(DoB, format = "%d%b%Y")

In [ ]:
DoB

In [ ]:
# Task
# Convert "" to datetime
# 2. For the above series DoB, caculate age of all the values
# Find out to get today's date

In [ ]:
pd.Series(DoB)

In [ ]:
pd.to_datetime(pd.Series(DoB), format = "%d%b%Y")

In [ ]:
DoB_date = pd.to_datetime(pd.Series(DoB), format = "%d%b%Y")

In [ ]:
type(DoB_date)

In [ ]:
# If any column/Series is datetime object, then "dt" get added to it
DoB_date.dt

print(dir(DoB_date.dt))

In [ ]:
DoB_date.dt.day

In [ ]:
DoB_date.dt.year

In [ ]:
?DoB_date.dt.year
?pd.read_csv

In [ ]:
DoB_date.dt.quarter

In [ ]:
# Change or Rename Columns
# Rename Columns
# {"OldName - Exiting name":"NewName"}
table3.rename(columns = {"BUSAGE":"BUSAGE1"})
# Renaming takes place and result is saved in another table3

In [ ]:
table3

In [ ]:
# Add a Columns
# Add TOTAL = TOTACBAL Columns to table3
# table3.assign(newcol = ...,newcol2 = ...)
table3 = table3.assign(TOTAL = table3.TOTACBAL)

In [ ]:
table3

In [ ]:
table3.drop(columns="TOTAL")

In [ ]:
# Rearraging columns
table3 = table3.assign(TOTAL = table3.TOTACBAL)
table3.iloc[0:10,[0,1,2]]

In [ ]:
table3.shape

In [ ]:
# 0,1,4,3,2,5
table3.iloc[0:10,[0,1,4,3,2,5]]

In [ ]:
# 1. Filtering
# Task: Get all observation from the city/location
subset1 = table3.loc[(table3.BUSTYPE == "A"),]
#subset1
subset1.reset_index(drop=True)

In [ ]:
# Tasks: Get data where TOTACBAL 10000 - 100000
subset2 = table3.loc[(table3.TOTACBAL > 10000) & (table3.TOTACBAL < 100000)]
#subset2
subset2.reset_index(drop=True)

In [ ]:
# Select Columns
subset3 = table3.loc[(table3.TOTACBAL > 10000) & (table3.TOTACBAL < 100000),["BUSTYPE","TOTACBAL"]]
#subset2
subset3.reset_index(drop=True)

In [ ]:
# Sorting
subset3.sort_values(["BUSTYPE"]).reset_index(drop=True)
subset3.sort_values(["BUSTYPE"],ascending = True).reset_index(drop=True)

In [ ]:
sort3 = subset3.sort_values(["BUSTYPE","TOTACBAL"], ascending=False).reset_index(drop=True)
sort3

In [ ]:
sort4 = subset3.sort_values(["BUSTYPE","TOTACBAL"], ascending=[True,False]).reset_index(drop=True)
sort4

# Or
sort4 = subset3.sort_values(["BUSTYPE","TOTACBAL"], ascending=[1,0]).reset_index(drop=True)
sort4

In [ ]:
# Removing redundency
score = pd.read_csv("D:\Datasets\Big Data\Score.csv")
score

In [ ]:
# Aim: to remove duplicate on a row level
#     if all cell values are same, then it's a duplicate

# Aim: to remove duplicate respect to a column
#     

# duplicate() - True if a value is repeated
# 1,2,3,2,4,1,2,3
# F,F,F,T,F,T,T,T

score.loc[-score.duplicated(),]
# return all the duplicated values

In [ ]:
score.loc[score.duplicated(),]
# return all unique values

In [ ]:
score.loc[score.Student.duplicated(),] #Repeated values

In [ ]:
score.loc[-score.Student.duplicated(),] #Unique values

In [ ]:
score.drop_duplicates()

In [ ]:
score.drop_duplicates(["Student"])

In [ ]:
# Removing missing value
stores = pd.read_csv("D:\Datasets\Big Data\stores.csv")
stores

In [ ]:
stores.info()

In [ ]:
# The isnull() function
stores.AcqCostPercust.isnull()
# if a value in Series is NON then True

ACQ = stores.AcqCostPercust
ACQ

ACQ.fillna(0)

# Replace NaN in ACQ with mean()
ACQ.fillna(ACQ.mean())

In [ ]:
# Aggreations / Group by
# Step 1: Group by
temp = stores.groupby("Location")
# This step creating temp object

# Step 2: Selecting the Continuos variable
temp = temp[["TotalSales"]]

# Step 3
temp.sum().reset_index()

In [ ]:
# Evething in 1 step
stores.groupby(["Location"])[["TotalSales"]].sum().reset_index()

In [ ]:
# Prefix
stores.groupby(["Location"])[["TotalSales"]].sum().add_prefix("SumOf_").reset_index()

In [ ]:
# Group by Location and StoreType, find SumOfOperatingCost
stores.groupby(["Location","StoreType"])[["TotalSales"]].sum().add_prefix("SumOf_").reset_index()

In [ ]:
stores.groupby(["Location","StoreType"])[["TotalSales","Total_Customers"]].sum().add_prefix("SumOf_").reset_index()

In [ ]:
# Group by Location, find
stores.groupby(["Location"])[["TotalSales","Total_Customers"]].sum().add_prefix("SumOf_").reset_index()

In [ ]:
# Group by Location, MeanOfTotalSales
Res = stores.groupby(["Location"], as_index = False).agg({"OperatingCost":"sum","TotalSales":"mean"})
Res = Res.rename(columns = {"OperatingCost":"SumOfOperatingCost","TotalSales":"AvgOfTotalSales"})
Res

In [ ]:
# Binning
# Phan khoang du lieu cua mot Columns
import numpy as np

x = -10
# if x is +, or -
np.where((x>0),"positive","negative")

In [ ]:
np.where((x==0),"zero",np.where((x>0),"positive","negative"))

In [ ]:
TS = stores.TotalSales
np.where((TS<100),"Low",np.where(((TS>=100) & (TS <200)),"Mid",np.where(((TS>=200) & (TS<300)),"High","Very High")))

In [ ]:
import pandas as pd
# Merging

# Inner join
# Outer / Left join

# pd.merge()

demographic = pd.read_csv("D:\Datasets\Big Data\Demographic_Data.csv")
txn = pd.read_csv("D:\Datasets\Big Data\Transaction_Summary.csv")

In [ ]:
demographic

In [ ]:
txn

In [ ]:
# Thuc hien Merge 2 bang so lieu
pd.merge(left = demographic,
         right = txn,
         left_on = "CustName",
         right_on = "CustomerName",
         indicator = True
        )

In [ ]:
import pandas as pd

demographic = pd.read_csv("D:\Datasets\Big Data\Demographic_Data.csv")
txn = pd.read_csv("D:\Datasets\Big Data\Salary_Data.csv")
txn
#demographic

In [ ]:
data = pd.read_csv("D:\Datasets\Big Data\Demographic_Data.csv")
data

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import cm
from mpl_toolkits.mplot3d import Axes3D

ox = np.arange(-5, 5, 0.25)
oy = np.arange(-5, 5, 0.25)
ox, oy = np.meshgrid(ox, oy)
oz = ox**2 + oy**2 # Hàm số z = x^2 + y^2

fig = plt.figure()
graph = Axes3D(fig)
graph.plot_surface(ox, oy, oz, cmap=cm.magma)

plt.show()

### Giải phương trình bậc hai

In [ ]:
# -*- coding: utf-8 -*-
"""
Created on Fri Aug  2 21:41:05 2019

@author: hungnd
"""

#coding:utf-8
#Program by hungnd
import math

def pt(a,b,c):
    delta = b*b - 4*a*c    
    if delta > 0 :
        x1 = (-b + math.sqrt(delta))/(2*a)
        x2 = (-b - math.sqrt(delta))/(2*a)
        print("phuong trinh bac 2 co hai nghiem phan biet")
        print("x1= %3.2f x2= %3.2f " %(x1,x2))
    elif delta ==0 :
       print("phuong trinh co nghiem kep x1=x2= %3.2f" %(-b/2*a))
    else :
       print("phuong trinh vo nghiem")   
       
def main():   
    print("Nhap lan luot he so a,b,c cua phuong trinh bac 2")
    a = float(input('he so a:'))
    b = float(input('he so b:'))
    c = float(input('he so c:'))
    pt(a,b,c)

if __name__ == '__main__':
  main()